@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

.deliveryMoskow {
    padding-bottom: 30px;
    margin-top: 40px;
}

.title h1 {
    margin-bottom: 40px;
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(68, 68, 68, 1);
}