.footer {
    background: linear-gradient(92.08deg, #317014 20.3%, #426D0D 48.62%, #095F07 79.4%);
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1f;
    padding: 50px 0;
}