header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #545EE1;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header ul{
    display: flex;
    align-items: center;
    gap: 25px;
}

header ul li{
    list-style: none;
}


header ul li a{
    text-decoration: none;
    color: #BDC2FF;
}

header ul li a:hover{
    color: #ffff;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
  
.hover-bg-gray:hover {
    background-color: #f8f9fa;
}
  
.cursor-pointer {
    cursor: pointer;
}