.partners{
    background-image:
        linear-gradient(86.1deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.144) 99.92%),
        url(../assets/bgFonGorod.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.partners .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.partners .title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners h1{
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: Regular;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    /* margin: 0px 0 40px 0; */
}

.partners span{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: light;
    font-size: 20px;
    text-align: center;
    color: #fff;
}