@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap'  );

.prof-cosmetic{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    padding: 20px;
    margin-top: 50px;
}

.prof-cosmetic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prof-cosmetic h1{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: Light;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    margin: 0px 0 40px 0;
}

.prof-cosmetic p{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    text-align: justify;
    color: #000000;
    margin-right: 20px;
}