@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.questions {
    max-width: 600px;
  padding: 40px 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px; 
}

.questions h1 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #150101;
}

.question-inp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.question-inp input {
    border: none;
    outline: none;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  flex: 1;
}

.question-inp button {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #D23166;
  color: #FAFAFA;
  font-size: 16px;
  cursor: pointer;
}

.question-inp button:hover {
  background-color: #b92e5c;
}
.question-inp button:active {
  transform: scale(0.98);
  transition: transform 0.1s ease-in-out;
}